.section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.s-2-content {
width: 100%;
padding: 2.5rem;
}
.s-2-content > h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.section-2 > img {
    margin: auto;
}
@media (min-width:768px) {
    .s-2-content {
        width: 50%;
        }
}